<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/myrecipes">My Recipes!</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/mygallery">My Creations and Food Gallery!</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" name ="search" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</nav>

<h2>{{cookbook.title}}</h2>

{{#if cookbook.icon}}
  <img src="/image/{{cookbook.icon.id}}" id="cookbookicon" width="100" height="100"/><br><br>
{{else}}
  <img id="cookbookicon" width="100" height="100"/><br><br>
{{/if}}
<h6><a href=/cookbook/{{c.slug}}>{{c.title}}</a></h6>
{{#if cookbook.tags}}
  TAGS:
  {{#each cookbook.tags as |tag|}}
  <form method="GET" action="/search">
  <input type="hidden" name="search" value="{{tag}}">
  <button type="submit" class="btn btn-info">{{tag}}</button>
  </form>
  {{/each}}<br><br>
  {{else}}
  <br>No tags!<br><br>
{{/if}}

<h3>Recipes!</h3>

{{#if recipes}}
  {{#each recipes as |r|}}
    <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#{{r.slug}}" aria-expanded="true" aria-controls="{{r.slug}}">
            {{r.name}}
          </button>
        </h5>
      </div>

      <div id="{{r.slug}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          {{#if r.icon}}
              <img src="/image/{{r.icon.id}}" id="recipeicon" width="100" height="100"/><br><br>
          {{/if}}
          <h6>Serving Size:</h6>{{servingSize}}
          <h6>Preparation Time:</h6>{{prepTime}}
          <h6>Supplies:</h6>
          {{supplies}}
          <h6>Ingredients:</h6>
          <ul>
            {{#each r.ingredients}}
              <li><span>{{this}}<span></li>
            {{/each}}
          </ul>
          <h6>Steps:</h6>
          <ol>
            {{#each r.steps}}
              <li>{{this}}</li>
            {{/each}}
          </ol>
          {{#if r.tags}}
            TAGS:
            {{#each r.tags as |tag|}}
            <form method="GET" action="/search">
            <input type="hidden" class="form-control" name ="search" value="{{tag}}">
            <button type="submit" class="btn btn-info">{{tag}}</button>
            </form>
            {{/each}}<br><br>
          {{else}}
          No tags!<br><br>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  {{/each}}
{{else}}
  No recipes yet!
{{/if}}

<h3>Add Recipe to Cookbook!</h3>
<form method="POST" action="/cookbook/{{cookbook.slug}}"  id="cookbookRecipes">
  <select name="recipeSlug" id="cookbookRecipes">
    {{#each allrecipes as |r|}}
    <option value={{r.slug}}>{{r.name}}</option>
    {{/each}}
  </select>
  <button type="submit" class="btn btn-info">Add!</button>
</form>

<br><br>
<form method="GET" action="/logout">
  <button type="submit" class="btn btn-info">Logout</button>
</form>
